name: RSI Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Repo'yu çek
        uses: actions/checkout@v4

      - name: Python kur
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Kütüphaneleri yükle
        run: |
          pip install tradingview-ta

      - name: Botu çalıştır
        run: |
          python main.py
